.example {
  background-color: #e3ddcc;
  padding: 10px 20px;
  border-radius: 10px;
  width:900px;
  margin: auto;
  height: inherit;
  overflow: auto;
}

.exampleImage{
  width: auto;
  max-height: 300px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.exImg {
  width: 350px;
  float: left;

}

.exText {
  width: 450px;
  /* display: block; */
  float: right;
}

.exampleHeader {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #1E475E;
  font-size: 18px;
  text-transform: uppercase;
}

.combi {
  color: #1E475E;
}

.datatoken {
    text-align: center;
     transform: translate(-20%)!important;
}

.abilitytoken {
  /* transform: translate(10%) !important; */
    text-align: left;
}

.token {
  color: white;
  z-index: 3;
  position: absolute;
  transform: translate(10%);
  height: inherit;
  top: 33%;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.datacombiimage {
  z-index: 1;
  height: 190px;
  width: auto;
  left: -100px;
  padding: 10px;
  position: relative;
  top: 0;
}

.abilitycombiimage {
  z-index: 2;
  height: 190px;
  width: auto;
  left: -55px;
  padding: 10px;
  position: relative;
  top: 0;
}
