.illustration{
  max-height: 200px;
  width: auto;

}

.illustrationAbility{
visibility: visible;
    transform: translate(30%);
  max-width: 200px;

}

.labelimage {
  z-index: 1;
  width: auto;
  height: 220px;
  padding: 10px;
  position: relative;
  top: 0;
  left: 30px;
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.reinforcementimage{
  z-index: 1;
  width: auto;
  height: 190px;
  padding: 10px;
  position: relative;
  top: 0;
  left: -100px;
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.dataimage {
  z-index: 2;
  width: auto;
  height: 50%;
  /* padding: 10px; */
  position: absolute;
  /* padding-left: 150px; */
  top: 30px;
  left: 53%;
  transform: translate(-0%);
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.overlaptext {
  color: white;
  z-index: 2;
  position: absolute;
  width: inherit;
  top: 125px;
  /* left: 125px; */
  left: 50%;
  text-align: center;
  /* transform: translate(-10%); */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.overlaptextBig {
  color: white;
  z-index: 2;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 70.4px;
  /* left: 125px; */
  left: 50%;
  text-align: left;
  /* transform: translate(-10%); */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
}

.overlaptext2 {
  color: white;
  z-index: 2;
  position: absolute;
  top: 160px;
  width: inherit+10px;
  text-align: left;
  left: 50%;
  /* transform: translate(-10%); */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.overlaptextability {
  color: white;
  z-index: 2;
  position: absolute;
  top: 155px;
  width: inherit+10px;
  text-align: left;
  left: 50%;
  transform: translate(-8%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.headerData {

  margin: auto;
  width: 1200px;
  height: inherit;
  padding-bottom: 30px;
  overflow: auto;
}

.leftheader {
  width: 35%;
  float: left;
  position: relative;
  padding-left: 100px;
}

.rightheader {
  width: 60%;
  float: right;
}

.leftdiv {
  width: 50%;
  float: left;
  padding-right: 10px;

}

.rightdiv {
  width: 50%;
  float: right;
  padding-right: 10px;

}
.fullspan{
    width: 100%;
    display:block;
    margin-top: -10px;
    overflow: auto;
    height: inherit;
}
.labeled {
  color: #006667 !important;
}

.unlabeled {
  color: #26C6DA !important;
}

.supervised {
  color: #007B24 !important;
}

.unsupervised {
  color: #5E9739 !important;
}

.reinforcement {
  color: #82BE14 !important;
}

.description {
  font-size: 16px;
  width: 80%;
}

.descriptionAbility {
  font-size: 20px;
  margin-top: -5px;
}

.type {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  /* text-transform: uppercase; */
}

h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -15px;
    color: #1A1A1A;
    text-transform: lowercase;
}

.source{
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid grey;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid grey;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
