.labelimage {
  z-index: 1;
  width: auto;
  height: 220px;
  padding: 10px;
  position: relative;
  top: 0;
  left: 30px;
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.reinforcementimage{
  z-index: 1;
  width: auto;
  height: 190px;
  padding: 10px;
  position: relative;
  top: 0;
  left: -100px;
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.dataimage {
  z-index: 2;
  width: auto;
  height: 50%;
  /* padding: 10px; */
  position: absolute;
  /* padding-left: 150px; */
  top: 30px;
  left: 53%;
  transform: translate(-0%);
  /* display: inline-block;
  padding: 10px; */
  /* float: right; */
}

.overlaptext {
  color: white;
  z-index: 2;
  position: absolute;
  width: inherit;
  top: 125px;
  /* left: 125px; */
  left: 50%;
  text-align: center;
  /* transform: translate(-10%); */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.overlaptextBig {
  color: white;
  z-index: 2;
  position: absolute;
  width: inherit;
  height: inherit;
  top: 32%;
  /* left: 125px; */
  left: 48%;
  text-align: left;
  /* transform: translate(-10%); */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
}

.overlaptext2 {
  color: white;
  z-index: 2;
  position: absolute;
  top: 160px;
  width: inherit+10px;
  text-align: left;
  left: 50%;
  /* transform: translate(-10%); */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.overlaptextability {
  color: white;
  z-index: 2;
  position: absolute;
  top: 155px;
  width: inherit+10px;
  text-align: center;
  left: 50%;
  transform: translate(-18%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.headerData {

  margin: auto;
  width: 80%;
  height: inherit;
  padding-bottom: 30px;
  overflow: auto;
}

.leftheader {
  width: 35%;
  float: left;
  position: relative;
  padding-left: 100px;
}

.rightheader {
  width: 60%;
  float: right;
}

.leftdiv {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.rightdiv {
  width: 50%;
  float: right;
  padding-right: 10px;
}

.labeled {
  color: #0F75B8 !important;
}

.unlabeled {
  color: #3CC8C8 !important;
}

.supervised {
  color: #008D24 !important;
}

.unsupervised {
  color: #82BE14 !important;
}

.reinforcement {
  color: #78C8A5 !important;
}

.description {
  font-size: 16px;
  width: 80%;
}

.descriptionAbility {
  font-size: 20px;
  margin-top: -5px;
}

.type {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  /* text-transform: uppercase; */
}

h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: -15px;
    color: #1A1A1A;
    text-transform: lowercase;
}
