* {
  /* margin: 0px;
  padding: 0; */
  box-sizing: border-box;
}

body {
  padding: 0;
  color: rgb(30, 30, 30);
  background-color: 	#FAF9F6;
}
#homepage{
  background-image: url('homepage-02.png');
  background-size: cover;
}


header  {
  margin-top: 50px;
}

#welcome {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #2B5F6E;
  margin-top: 100px;
}



.centerBlock {
  width: 700px;
  margin: auto;
  padding-top: 10px;
}


#continue{
  visibility: visible;
}

#connected{
  visibility: hidden;
}

.bold{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #1E475E;
}

footer {
  height: 80px;
  clear: both;
}
