* {
  /* margin: 0px;
  padding: 0; */
  box-sizing: border-box;
}

body {
  padding: 0;
  color: rgb(30, 30, 30);
  background-color: #FAF9F6;
}

#homepage {
  background-image: url('homepage-02.png');
  background-size: cover;
}

header {
  margin-top: 50px;
}

#welcome {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #2B5F6E;
  margin-top: 100px;
}

.centerBlock {
  width: 700px;
  margin: auto;
  padding-top: 10px;
  z-index: 1;
}

#continue {
  visibility: visible;
}

#connected {
  visibility: hidden;
}

#connectBLE {
  padding: 10px 20px;
  text-align: center;
  background-color: #2B5F6E;
  ;
  font-family: Lato;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

#connectBLE:hover {
  background-color: #7DAED6;
}

.centercenterText {
  text-align: center;
  margin: auto;

  height: 300px;;
}

footer {
  height: 80px;
  clear: both;
}
